<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.usf.cutr.opentripplanner.android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To plan trip from/to contact address -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Android Maps API V2 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
 The following permission is not required to use
         Google Maps Android API v2, but is recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".OTPApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="busstop.customtrip.ui.RouteActivity"
            android:label="@string/busStop"
            android:theme="@style/MyThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="busstop.customtrip.ui.CustomActivity"
            android:label="@string/custom"
            android:theme="@style/MyThemeDark"></activity>
        <activity
            android:name="busstop.customtrip.ui.PresetActivity"
            android:label="@string/preset"
            android:theme="@style/MyThemeDark"></activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/map"
            android:theme="@style/MyThemeLight"></activity>
        <activity
            android:name="busstop.customtrip.ui.SeekBarActivity"
            android:label="@string/personalizza"
            android:theme="@style/MyThemeDark"></activity>
        <activity
            android:name="busstop.customtrip.ui.FilterActivity"
            android:label="@string/advancedFilters"
            android:theme="@style/MyThemeDark"></activity>
        <activity
            android:name="busstop.customtrip.ui.CustomActivityTest"
            android:label="@string/advancedFilters"
            android:theme="@style/MyThemeDark"></activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/MyThemeDark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/MyThemeDark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutPlayServicesActivity"
            android:theme="@style/MyThemeDark"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD5XadJhAK7jIKFz5TcT7t-gsWw_OTvlBI" />
    </application>

</manifest>